{% load static %}

<div id="featured-hotel" class="fh5co-bg-color" xmlns="http://www.w3.org/1999/html">
		<div class="container">
<br/><br/><br/><br/><br/><br/>
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<br/>
						<a style="font-family:'Arial',serif;font-size:20pt">ÖNE ÇIKANLAR</a>
					</div>
				</div>
			</div>

			<div class="row">

				<div class="feature-full-1col">
					{% for rs in daytransfer %}
					<div class="image" style="background-image: url(images/hotel_feture_1.jpg);">
							<img src="{{ rs.image.url}}" style="height: 400px">
						<div class="descrip text-center">
							<p><small>For as low as</small><span>${{rs.base_price}}</span></p>
						</div>
					</div>
					<div class="desc">
						<h3><a href="/transfer/{{rs.id}}/{{rs.slug}}" >{{rs.title}}</a></h3>
						<p>{{rs.detail|safe}} </p>
						<p><a href="/rezervasyon/{{rs.id}}" class="btn btn-primary btn-luxe-primary">Rezervasyon <i class="ti-angle-right"></i></a></p>
					</div>
					{% endfor %}
				</div>
			</div>
			</br></br></br></br>
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<a style="font-family:'Arial',serif;font-size:20pt">SON EKLENENLER</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="feature-full-2col">
					{% for rs in lasttransfer %}
					<div class="f-hotel">
						<div class="image" style="background-image: url(images/hotel_feture_2.jpg);">
							<div class="descrip text-center">
								<img src="{{ rs.image.url}}" style="height: 100px">
								<p><small>For as low as</small><span>${{rs.base_price}}</span></p>
							</div>

						</div>

						<div class="desc">
							<h3><a href="/transfer/{{rs.id}}/{{rs.slug}}" >{{rs.title}}</a></h3>
							<p>Capasite:{{rs.capasity}} </p>
							<p><a href="/rezervasyon/{{rs.id}}" class="btn btn-primary btn-luxe-primary">Rezervasyon <i class="ti-angle-right"></i></a></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			</br></br></br></br>
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<a style="font-family:'Arial',serif;font-size:20pt">SİZİN İÇİN SEÇTİKLERİMİZ</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="feature-full-2col">
					{% for rs in randomtransfer %}
					<div class="f-hotel">
						<div class="image" style="background-image: url(images/hotel_feture_2.jpg);">
							<div class="descrip text-center">
								<p><small>For as low as</small><span>${{rs.base_price}}</span></p>
								<img src="{{ rs.image.url}}" style="height: 100px">
							</div>
						</div>

						<div class="desc">
							<h3><a href="/transfer/{{rs.id}}/{{rs.slug}}" >{{rs.title}}</a></h3>
							<p> Capasite:{{rs.capasity}}</p>
							<p><a href="/reservation/{{rs.id}}" class="btn btn-primary btn-luxe-primary">Rezervasyon<i class="ti-angle-right"></i></a></p>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

		</div>
</div>