{% load static %}
	<div id="fh5co-wrapper">
	<div id="fh5co-page">
	<div id="fh5co-header">

	<header id="fh5co-header-section">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
					<h1 id="fh5co-logo"><a href="index.html">Transfer</a></h1>
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li><a class="active" href="index.html">Home</a></li>

							<li>

								{% load mptt_tags %}
								<a class="fh5co-sub-ddown">ARAÇLAR</a>
							<ul>
								{% recursetree category %}
									<li>
										<a href="/category/{{node.id}}/{{node.slug}}" class="fh5co-sub-ddown" style="color: red" >{{ node.title }}</a>

										{% if not node.is_leaf_node %}
											<ul class="children" >
												<li><a href="/category/{{node.slug}}">{{ children }}</a>
														<ul class="children">
															<li><a href="http://freehtml5.co/preview/?item=build-free-html5-bootstrap-template" target="_blank">{{ children }}</a></li>
														</ul>
													</li>
													</li>

											</ul>
										{% endif %}
									</li>
								{% endrecursetree %}
							</ul>

							</li>



							<li><a href="services.html">Services</a></li>
							<li><a href="/referanslarımız">Referanslar</a></li>
							<li><a href="/hakkımızda">Hakkımızda</a></li>
							<li><a href="iletisim">İletişim</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		</div>
