
{% load static %}
<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">

			<ul class="slides">

				{% for rs in sliderdata %}
		   <li style="{% static 'background-image: url(images/slider1.jpg);' %}">
		   		<div class="overlay-gradient"></div>

		   		<div class="container">

		   			<div class="col-md-12 col-md-offset-0 text-center slider-text">
		   				<div class="slider-text-inner js-fullheight">
							<br/><br/><br/><br/>

		   					<div class="desc">
									<img src="{{ rs.image.url}}" style="height: 350px">
		   						<p><span>{{ rs.title }}</span></p>
		   						<h2>{{ rs.description }}</h2>
			   					<p>
			   						<a href="/category/{{rs.id}}/{{rs.slug}}" class="btn btn-primary btn-lg">REZERVASYON</a>
			   					</p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
				{% endfor %}


		  	</ul>
	  	</div>
	</aside>