{% extends "homebase.html" %}

{% block title %}Araçlar-{{ categorydata.title }}{% endblock %}

{% block keywords %}{{ categorydata.keywords }} {% endblock %}

{% block description%}{{ categorydata.description }} {% endblock %}
{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href={{setting.icon.url}} /> {% endblock %}


{% block content %}
   <!-- end:fh5co-header -->

	<div class="fh5co-parallax" style="background-image: url(images/slider1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">Araçlar</h1>
						</div>

				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-contact-section">
		<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/home">Anasayfa </a> </li>
              <li class="active"> {{ categorydata.title }} </li>
        </ul>
		<div id="fh5co-hotel-section">

			<div class="row">

		{% for rs in transfers %}
				<div class="col-md-4">
					<div class="hotel-content">
						<div class="hotel-grid" style="background-image: url(images/image-1.jpg)">

							<div class="price"><small>Ana fiyat</small><span>${{rs.base_price}}</span>
							<img src="{{ rs.image.url}}" style="height: 200px"></div>
							<a class="book-now text-center" href="#"><i class="ti-calendar"></i> Rezervasyon </a>
						</div>
						<div class="desc">
							<h3><a href="/category/{{rs.id}}/{{rs.slug}}">{{rs.title}}</a></h3>
							<p>Capasite:{{rs.capasity}}</p>
						</div>
					</div>
				</div>
		{% endfor %}




    </div>
</div>


</div>
{% endblock %}
