{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}




{% block content %}

<div class="fh5co-parallax" style="background-image: url(images/slider1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">User Comments</h1>
						</div>

				</div>
			</div>
		</div>
	</div>
	<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/home">Anasayfa </a> </li>
              <li class="active">User Comments </li>
        </ul>

    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-lg-9">
                    <h1><a>Comments</a></h1>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            {% if messages %}
                                {% for message in messages %}
                                    <div id=" sendmessage " class="alert alert-{{ message.tags }}" ROLE="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <tr>
                                <th>Transfer</th>
                                <th>Rate</th>
                                <th>Subject</th>
                                <th>Comment</th>
                                <th>Status</th>
                                <th>Date</th>
                                <th>Detail</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for comment in comments %}
                                <tr>
                                    <td nowrap><a href="/transfer/{{ comment.transfer.id }}/{{ comment.transfer.slug }}">{{ comment.transfer.title }}</a>
                                    </td>
                                    <td>{{ comment.rate }}</td>
                                    <td>{{ comment.subject }}</td>
                                    <td>{{ comment.comment }}</td>
                                    <td>{{ comment.status }}</td>
                                    <td>{{ comment.create_at }}</td>
                                    <td nowrap><a class="btn btn-danger" href="/user/deletecomment/{{ comment.id }}" onclick="return confirm('Will be delete ! Are you sure?')">Delete</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-lg-3 mt-4 mt-lg-0">
                    <!-- CUSTOMER MENU -->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Customer section</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="">
                                <li class="nav-item"><a href="customer-orders.html" class="nav-link active"><i
                                        class="fa fa-list"></i> My orders</a></li>
                                <li class="nav-item"><a href="/user/comments " class="nav-link"><i
                                        class="fa fa-comment"></i> My comments</a></li>
                                <li class="nav-item"><a href="/user " class="nav-link"><i class="fa fa-user"></i> My
                                    account</a></li>

                                <li class="nav-item"><a href="/logout/" class="nav-link"><i class="fa fa-sign-out"></i>
                                    Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}