{% extends "homebase.html" %}

{% block title %} {{ profile.user_name }} Profile {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}




{% block content %}
	<div class="fh5co-parallax" style="background-image: url(images/slider1.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
					<div class="fh5co-intro fh5co-table-cell">
						<h1 class="text-center">User Update</h1>
						</div>

				</div>
			</div>
		</div>
	</div>


		<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/home">Anasayfa </a> </li>
              <li class="active">User Profile </li>
        </ul>

    </div>
    <div id="content">
        <div class="container">
            <div class="row bar">
                <div class="col-lg-9">
                    <h2>UPDATE INFORMATION</h2>
                    <hr>
                    <div class="media">
                        <img src="{{ user.userprofile.image.url }}" style="height: 150px; border-radius: 45px">
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div id=" sendmessage " class="alert alert-{{ message.tags }}" ROLE="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ user_form.as_p }}
                            {{ profile_form.as_p }}
                        </fieldset>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 mt-4 mt-lg-0">
                    <!-- CUSTOMER MENU -->
                    <div class="panel panel-default sidebar-menu">
                        <div class="panel-heading">
                            <h3 class="h4 panel-title">Customer section</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="">
                                <li class="nav-item"><a href="customer-orders.html" class="nav-link active"><i
                                        class="fa fa-list"></i> My orders</a></li>
                                <li class="nav-item"><a href="/user/comments " class="nav-link"><i
                                        class="fa fa-comment"></i> My comments</a></li>
                                <li class="nav-item"><a href="/user " class="nav-link"><i class="fa fa-user"></i> My
                                    account</a></li>

                                <li class="nav-item"><a href="/logout/" class="nav-link"><i class="fa fa-sign-out"></i>
                                    Logout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}